$primaryColor: hsl(240, 19%, 8%);
$primaryColorV2: hsl(240, 19%, 10%);
$primaryColorV3: hsla(240, 17%, 8%, 0.788);

$negative: hsl(240, 11%, 77%);

$primaryText: #F0F6FC;
$secondaryText: #afb2b6;

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: sans-serif;

$breakpoint-one: 900px;
$breakpoint-mobile-two: 400px;