$primaryColor: hsl(240, 19%, 8%);
$primaryColorV2: hsl(240, 19%, 10%);
$primaryColorV3: hsla(240, 17%, 8%, 0.788);


$primaryText: #F0F6FC;

$primaryFont: 'Montserrat', sans-serif;
$secondaryFont: sans-serif;